:root {
  --black: hsl(0, 0%, 8%);
  --purple: hsl(274, 53%, 37%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
@media screen and (max-width: 599px) {
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)),
      url(../img/showcase.jpg);
    height: 500px;
  }
  li {
    list-style: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .header-nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 0.5rem;
  }
  .header-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .header-text-main {
    font-size: 5rem;
    text-align: center;
    vertical-align: center;
    padding-top: 5rem;
  }
  .hamburger {
    display: flex;
    padding: 1rem 2rem;
    font-size: 4rem;
  }
  .header-right {
    display: none;
  }
  .nav-list {
    display: flex;
    justify-content: space-between;
  }
  .nav-link {
    font-weight: bolder;
  }
  .nav-logo {
    max-height: 70px;
  }
  .header-text-wrapper {
    display: flex;
    justify-content: center;
  }
  .emphasis {
    color: var(--purple);
    font-weight: bolder;
  }
}

@media (min-width: 600px) {
  .header-right {
    display: flex;
  }
  .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
  }
}
@media (min-width: 900px) {
  .hamburger {
    display: none;
  }
}
@media (min-width: 1200px) {
}
@media (min-width: 1800px) {
}
