:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 8%);
  --purple: hsl(274, 53%, 37%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (min-width: 900px) {
  .hamburger {
    display: none;
  }
}
@media (min-width: 1200px) {
}
@media (min-width: 1800px) {
}
