:root {
  --emphasis-color: (rgba(107, 95, 230, 1));
  --dark-emphasis: (indigo);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.1s ease 0s;
}
.emphasis {
  color: rgba(107, 95, 230, 1);
}
li,
a {
  font-weight: 500;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
header {
  color: white;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url(../img/showcase.jpg);
  background-size: cover;
  background-position: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10%;
  background-color: rgba(0, 0, 0, 0.3);
}
button {
  color: white;
  font-weight: 500;
  font-size: 15px;
  padding: 0.9rem 2rem;
  background-color: rgba(107, 95, 230, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 0.5rem;
}
button:hover {
  background-color: white;
  color: rgba(107, 95, 230, 1);
}
.shop-button {
  color: white;
  font-weight: 500;
  font-size: 15px;
  padding: 0.9rem 2rem;
  background-color: rgba(107, 95, 230, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 0.5rem;
}
.logo {
  max-width: 100px;
  cursor: pointer;
  font-size: 5rem;
  margin: 0.5rem;
}
.logo:hover {
  transition: all 0.3s ease 0s;
  color: rgba(107, 95, 230, 1);
}

.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  color: rgb(107, 95, 230);
}

#showcase {
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
#showcase h1 {
  font-size: 50px;
  line-height: 1.2;
}
#showcase p {
  font-size: 20px;
  max-width: 75%;
}
#section-a {
  padding: 20px;
  background-color: rgba(107, 95, 230, 1);
  text-align: center;
}
#section-b {
  padding: 20px;
  background-color: white;
  color: rgba(107, 95, 230, 1);
  text-align: center;
  font-weight: 500;
}
#section-c {
  display: flex;
}
#section-c div {
  padding: 20px;
}
#section-c .box-1,
#section-c .box-3 {
  background-color: rgba(107, 95, 230, 1);
}
#section-c .box-2 {
  background-color: rgb(179, 175, 230);
}
/* ... */
/* ... */
/* this is the carousel section  */
header > article {
  display: grid;
  height: 100%;
}
.article-slide {
  height: 100%;
  width: 100%;

  border: 1px solid grey;
}
